@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

body {
  background: hsl(216deg, 12%, 8%);
}

#resetstyle, .state-e button, .state-s button, .state-s .form div .btn {
  border: none;
  border-radius: 150px;
  cursor: pointer;
  transition: all 200ms linear;
  font-size: 1rem;
}

.state {
  width: 95vw;
  max-width: 350px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.state-s {
  display: grid;
  gap: 1rem;
  background: linear-gradient(hsl(213deg, 19%, 18%), #191e24);
  color: hsl(0deg, 0%, 100%);
  padding: 2rem 1.5rem;
  border-radius: 15px;
}
.state-s img {
  background: #2b3540;
  padding: 0.8rem;
  border-radius: 150px;
  margin-bottom: 0.5rem;
}
.state-s h1 {
  font-size: 1.5rem;
}
.state-s p {
  font-weight: 400;
  color: hsl(216deg, 12%, 54%);
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.state-s .form {
  display: grid;
  gap: 1rem;
}
.state-s .form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.state-s .form div .btn {
  background: #2b3540;
  color: hsl(216deg, 12%, 54%);
  padding: 0.9rem 1.2rem;
}
.state-s .form div .hover-btn {
  background: #637892;
}
.state-s .form div .selected-btn {
  background: #445364;
}
.state-s .form div .select-btn {
  background: hsl(25deg, 97%, 53%);
  color: white;
}
.state-s button {
  background: hsl(25deg, 97%, 53%);
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  letter-spacing: 2px;
}
.state-s button:hover {
  color: hsl(25deg, 97%, 53%);
  background: hsl(0deg, 0%, 100%);
}
.state .unshow-div {
  display: none;
}
.state-e {
  display: none;
  position: relative;
  text-align: center;
  gap: 1rem;
  background: linear-gradient(hsl(213deg, 19%, 18%), #191e24);
  color: hsl(0deg, 0%, 100%);
  padding: 2rem 1.5rem;
  border-radius: 15px;
}
.state-e img {
  margin: 0 auto;
}
.state-e .result {
  color: #fc9a54;
  background: #2b3540;
  padding: 0.5rem;
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  border-radius: 50px;
  width: 55%;
  margin: 1rem auto;
}
.state-e h1 {
  font-size: 1.5rem;
}
.state-e p {
  font-weight: 400;
  color: hsl(216deg, 12%, 54%);
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.state-e button {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 0.4rem 0.7rem;
  background: #637892;
  color: white;
  font-size: 0.8rem;
}
.state-e button i {
  font-size: 1rem;
}
.state .show-div {
  display: grid;
}

@media (min-width: 976px) {
  .state {
    max-width: 400px;
  }
  .state-s {
    padding: 2rem 2rem;
    border-radius: 30px;
  }
  .state-e {
    padding: 2rem 2rem;
    border-radius: 30px;
  }
}