@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
}

body {
  background: hsl(216deg, 12%, 8%);
}

.state {
  width: 85vw;
  max-width: 350px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.state-s {
  display: grid;
  gap: 1rem;
  background: linear-gradient(hsl(213deg, 19%, 18%), #13171b);
  color: hsl(0deg, 0%, 100%);
  padding: 2rem 1.5rem;
  border-radius: 15px;
}
.state-s img {
  background: #303a46;
  padding: 0.8rem;
  border-radius: 50px;
  margin-bottom: 1rem;
}
.state-s h1 {
  font-size: 1.5rem;
}
.state-s p {
  font-weight: 400;
  color: hsl(216deg, 12%, 54%);
  line-height: 1.5;
}
.state-s .form {
  display: grid;
  gap: 1rem;
}
.state-s .form div {
  display: flex;
  justify-content: space-between;
}
.state-s .form div input {
  background: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  padding: 0.9rem 1.1rem;
  border-radius: 150px;
  border: none;
}
.state-s button {
  background: hsl(25deg, 97%, 53%);
  text-transform: uppercase;
  color: white;
  padding: 0.8rem;
  letter-spacing: 2px;
  border-radius: 50px;
}
.state-e {
  display: none;
}