@import "./utils/config";
@import "./utils/variables";
body {
  background: $cl-veryDarkBlue;
}
#resetstyle {
  border: none;
  border-radius: $radius * 10;
  cursor: pointer;
  transition: $transition;
  font-size: 1rem;
}
.state {
  width: 95vw;
  max-width: 350px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
  &-s {
    display: grid;
    // display: none;
    gap: 1rem;
    background: linear-gradient($cl-darkBlue, darken($cl-darkBlue, 6));
    color: $cl-white;
    padding: 2rem 1.5rem;
    border-radius: $radius;
    img {
      background: lighten($cl-darkBlue, 3);
      padding: 0.8rem;
      border-radius: $radius * 10;
      margin-bottom: 0.5rem;
    }
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-weight: 400;
      color: $cl-mediumGrey;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
    .form {
      display: grid;
      gap: 1rem;
      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        input {
          @extend #resetstyle;
          background: lighten($cl-darkBlue, 3);
          color: $cl-mediumGrey;
          padding: 0.9rem 1.2rem;
          &:hover {
            background: lighten($cl-darkBlue, 23);
          }
        }
      }
    }
    button {
      @extend #resetstyle;
      background: $cl-Orange;
      text-transform: uppercase;
      color: white;
      padding: 1rem;
      letter-spacing: 2px;
      &:hover {
        color: $cl-Orange;
        background: $cl-white;
      }
    }
  }
  &-e {
    display: grid;
    display: none;
    text-align: center;
    gap: 1rem;
    background: linear-gradient($cl-darkBlue, darken($cl-darkBlue, 6));
    color: $cl-white;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    img {
      margin: 0 auto;
    }
    .result {
      color: lighten($cl-Orange, 13);
      background: lighten($cl-darkBlue, 3);
      padding: 0.7rem;
      padding-bottom: 0.2rem;
      border-radius: 50px;
      width: 60%;
      margin: 1rem auto;
    }
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-weight: 400;
      color: $cl-mediumGrey;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
  }
}
