@import "./utils/config";
@import "./utils/variables";
body {
  background: $cl-veryDarkBlue;
}
.state {
  width: 95vw;
  max-width: 350px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
  &-s {
    display: grid;
    gap: 1rem;
    background: linear-gradient($cl-darkBlue, darken($cl-darkBlue, 6));
    color: $cl-white;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    img {
      background: lighten($cl-darkBlue, 3);
      padding: 0.8rem;
      border-radius: 50px;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-weight: 400;
      color: $cl-mediumGrey;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
    .form {
      display: grid;
      gap: 1rem;
      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        input {
          background: lighten($cl-darkBlue, 3);
          color: $cl-mediumGrey;
          font-size: 1rem;
          padding: 0.9rem 1.2rem;
          border-radius: 150px;
          border: none;
        }
      }
    }
    button {
      background: $cl-Orange;
      text-transform: uppercase;
      color: white;
      padding: 1rem;
      letter-spacing: 2px;
      border-radius: 50px;
    }
  }
  &-e {
    display: none;
  }
}
